<p>
  <strong>Title:</strong>
  <%= @film['title'] %>
</p>

<p>
  <strong>Episodio:</strong>
  <%= @film['episode_id'] %>
</p>

<p>
  <strong>Director:</strong>
  <%= @film['director'] %>
</p>

<%= @film %>
